.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #cfcfcf;
  background: #393d3fd7;
  box-shadow: 1px 1px 10px 10px #22222271;
  z-index: 1;
}

/* .nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
} */

.nav-icon {
  font-size: 1.5rem;
  color: white;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  text-decoration: none;
}

.nav-links a {
  color: white;
}

.show-nav {
  margin: 0;
  height: 100px;
  width: 100%;
}

/* end of navbar */
