.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #ff0202d7;
  box-shadow: 0 5px 50px #00000099;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 9;
}

/* .nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
} */

.nav-icon {
  font-size: 1.5rem;
}

.nav-links {
  height: 20px;
  overflow: hidden;
  list-style-type: none;
  text-decoration: none;
}

.show-nav {
  margin: 0;
  height: 100px;
  width: 100%;
}

/* end of navbar */
