body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  /* padding: 0 100px; */
  margin: 0;
  background: #2ca1cfd7;
  box-shadow: 0 5px 50px #00000099;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 9;
}

nav {
  margin: 0;
}
ul {
  margin: 0;
}

header .logo {
  margin: 0;
  color: #fff;
  height: 50px;
  line-height: 70px;
  font-size: 24px;
  float: left;
  font-weight: bold;
  cursor: pointer;
}
header nav {
  float: right;
}

.header nav ul li ul li a:hover {
  visibility: visible;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a.active {
  background: #ffffff48;
  color: #ffffff;
}
.toggle {
  display: none;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width: 620px) {
  .toggle {
    width: 100%;
    align-content: right;
    text-align: right;
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    line-height: 20px;
    box-sizing: border-box;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    display: block;
  }

  header nav {
    margin: 0;
    width: 100%;
    background: #031f2b5d;
    top: 50px;
    left: 0;
    transition: 0.5s;
  }

  header a {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  header nav ul {
    display: block;
    text-align: center;
    /* width: 100%; */
  }

  header nav ul li a {
    /* border-bottom: 4px solid transparent !important; */
    text-align: center;
  }

  .nav-icon {
    padding: 10px;
    color: white;
    font-size: 1.5rem;
  }

  .nav-links {
    height: 0px;
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
  }
  .show-nav {
    margin: 0;
    height: 200px;
    transition: 0.5s;
  }
}

@media (max-width: 1280px) {
  /* header {
    padding: 0 10px;  le fameux paddind no delete
  } */

  .container {
    margin-right: 5%;
  }
}
@media (min-width: 1440px) {
  header {
    padding: 0 300px;
  }
  .container {
    margin-right: 15%;
  }
}

/* ACTION  */
